 body {
	font-family: 'Roboto', sans-serif;

	background:url(../img/building.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
	width: 650px;
	margin:10px auto;
}
.login-section {
    background-color: #545f9e5c;
    padding: 34px;
}
.login-section img{
    margin: 0px auto;
    display: block;
}
.login-section h3{
	text-align: center;
	color: blue;
	font-size: 33px;
	margin: 10px 0px;
	text-transform: uppercase;
}
.form-control{
    width: 95%;
    height: 35px;
    padding: 5px;
    margin-bottom: 14px;
}
.submit-btn{
	display: block;

	margin: 0 auto;

	background-color: darkred;

	color: #fff;

	padding: 8px 22px;

	border: none;

	text-transform: uppercase;
   
}

.submit-btn:hover {

	box-shadow: 2px 3px 4px;
	cursor: pointer;
}

.link {
	color: white;
	cursor: pointer;
	
}

.web {
	color: white;
	text-align: right;
	display: block;
	cursor: pointer;

}

